<form>
  <mat-form-field class="example-form-field">
    <mat-label>Nome</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>E-mail</mat-label>
    <input matInput type="email">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Telefone</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Celular</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Departamento</mat-label>
    <input matInput type="text">
  </mat-form-field>
  <button mat-raised-button color="primary">Salvar</button>
</form>
