table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 12px;
  text-align: left;
  padding: 0px;
}

mat-form-field {
  width: 100%;
  text-align: center;
}

mat-card {
  width: 100%;
  margin: 0 auto;
}

mat-table{
  width: 100%;
  text-align: center;
}
