<mat-card>
  <mat-card-header>
    <mat-card-title>Formulário de Departamento</mat-card-title>
    <mat-card-subtitle>Cadastro de Departamento</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onDepartamentoSubmit()">
      <mat-form-field class="example-form-field">
        <mat-label>Nome</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <div class="acoes">
        <button mat-raised-button color="primary">Salvar</button>
        <button mat-raised-button color="warn" mat-dialog-close="true">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
